# # flyctl launch added from ECommerceAPI/.gitignore
# # Build output
# ECommerceAPI/bin
# ECommerceAPI/obj

# # User-specific files
# ECommerceAPI/**/.vs
# ECommerceAPI/**/.vscode
# ECommerceAPI/**/*.user
# ECommerceAPI/**/*.suo

# # OS junk
# ECommerceAPI/**/.DS_Store
# ECommerceAPI/**/Thumbs.db

# # Secrets
# ECommerceAPI/**/appsettings.*.json       # dev overrides
# ECommerceAPI/**/secrets.json             # dotnet user-secrets

# # flyctl launch added from testecommerceFrontend/.gitignore
# # Logs
# testecommerceFrontend/**/logs
# testecommerceFrontend/**/*.log
# testecommerceFrontend/**/npm-debug.log*
# testecommerceFrontend/**/yarn-debug.log*
# testecommerceFrontend/**/yarn-error.log*
# testecommerceFrontend/**/pnpm-debug.log*
# testecommerceFrontend/**/lerna-debug.log*

# testecommerceFrontend/**/node_modules
# testecommerceFrontend/**/dist
# testecommerceFrontend/**/dist-ssr
# testecommerceFrontend/**/*.local

# # Editor directories and files
# testecommerceFrontend/**/.vscode/*
# !testecommerceFrontend/**/.vscode/extensions.json
# testecommerceFrontend/**/.idea
# testecommerceFrontend/**/.DS_Store
# testecommerceFrontend/**/*.suo
# testecommerceFrontend/**/*.ntvs*
# testecommerceFrontend/**/*.njsproj
# testecommerceFrontend/**/*.sln
# testecommerceFrontend/**/*.sw?
# fly.toml
